<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>boston Globe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0"/>

	<!-- css -->
	<link rel="stylesheet" href="../css/common.css"/>
	<link rel="stylesheet" href="../css/digitalaccess.css"/>
</head>
<body>
	<div id="wrap">
		<div id="banner"><img src="../images/digitalaccess/special_savings.png" alt="banner image"/></div>
		<header>
			<h1><a href="http://www.bostonglobe.com/"><img src="../images/digitalaccess/logo-top.jpg" alt="bostonglobe logo"/></a></h1>
		</header>
		<section id="main_paper">
			<div id="main_txt">
				<h2>Read more articles with UNLIMITED ACCESS to BostonGlobe.com</h2>
				<input type="radio" id="daller" checked="checked"/>
				<label for="daller">Subscribe to get UNLIMITED access to BostonGlobe.com for only $.99 for 4 weeks</label>
				<p>That's less than $1 for 4 full weeks!</p>
				<a href="https://digitalaccess.bostonglobe.com/da/order/secure/mecdigital"><img src="../images/digitalaccess/cta.jpg" alt="Sign Up" /></a>
			</div>
			<div id="main_img">
				<img src="../images/digitalaccess/img-paper+devices.jpg" alt="The Boston Globe - Digital" />
			</div>
		</section>
		<section id="sub_paper">
			<div id="sub_txt">
				<h3>With BostonGlobe.com, you get:</h3>
				<ul>
					<li>The FULL story all day</li>
					<li>A truly reader-friendly format</li>
					<li>Breakthrough technology</li>
					<li>Exclusive insider-only access</li>
					<li>A century's worth of archives</li>
				</ul>
				<p>Get the story when it breaks - plus timely updates as it evolves - from the largest newsroom in the region and award-winning journalists you trust.</p>
			</div>
			<div id="sub_vedio">
				<iframe src="http://player.vimeo.com/video/53177998?badge=0" width="440" height="248" title="view vedio"></iframe>
				<!-- http://blog.hivelab.co.kr/textyle/10259 frameborder="0" -->
				<!-- webkitAllowFullScreen allowFullScreen -->
			</div>
		</section>
		<footer>
			<a href="http://www.bostonglobe.com/"><img src="../images/digitalaccess/logo-bottom.jpg" alt="go bostong site"/></a>
			<p>
				BostonGlobe.com digital subscription is a credit card only offer. Your credit card will be automatically charged in advance every four weeks. At the end of the introductory period, your digital subscription will continue at $3.99 regular rate per week unless you cancel your subscription. Existing subscribers are not eligible for this offer. Prices are subject to change. Additional terms and conditions may apply.
			</p>
		</footer>
	</div>
</body>
</html>